html, body, *{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

:root{
  --bright-red: #c83057;
  --dark-green: #033537;

/*background color*/
  --lightpink: #e2d5d3;
  --yellow: #f9eec7;

/*Text colors*/
  --green-text: #3b6931;
  --dark-blue-text: #063547;

/*Card colors*/
  --dark-pink-card:#c19b95;
  --sage-card: #688773;

/*Typography*/
  --h1: 6.594rem;
  --h2: 3.063rem;
  --h3: 2.375rem;
}

h1{
  font-size: var(--h1);
  color: var(--headings);
  font-family: "Merriweather", serif;
}

h2{
  font-size: var(--h2);
  color: var(--headings);
  font-family: "Merriweather", serif;
}

h3{
  font-size: var(--h3);
  color: var(--description);
  font-family: "PT Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5{
  text-align: center;
}

.buttons{
  align-items: center;
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sweetbtn,
.saltybtn,
.themebtn,
.spicybtn,
.allbtn,
.blandbtn{
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
  background-color: var(--cardcolor);
  border-color: var(--headings);
  color: var(--description);
  border-style: solid;
  padding: 10px 20px;
  font-family: "PT Sans", sans-serif;
}

.container{
  padding-top: 20px;
  align-items: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card{
  height: 40rem;
  width: 22%;
  min-width: 300px;
  border-radius: 80px;
  border-width: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-size: cover;
  margin-bottom: 50px;
  background-color: var(--cardcolor);
  border-color: var(--headings);
  border-width: 2px;
  border-style: solid;
}

.top{
  background-color: var(--cardcolor);
  border-color: var(--headings);
  border-width: 2px;
  border-style: solid;
}


.card-img{
  width: 95%;
  height: 65%;
  object-fit: cover;
  border-radius: 50px;
  border-color: var(--headings);
  border-width: 2px;
  border-style: solid;
}

/*VIBRANT THEME*/
.vibrant{
  --primary: var(--bright-red);
  --secondary: var(--yellow);
  --cardcolor: var(--sage-card);
  --headings: var(--bright-red);
  --description: var(--dark-blue-text);
}

/*MINTY THEME*/
.minty{
  --primary: var(--dark-green);
  --secondary: var(--lightpink);
  --cardcolor: var(--dark-pink-card);
  --headings: var(--dark-green);
  --description: var(--green-text);
}


.main{
  height: 100%;
}

body{
  background-color: var(--secondary);
}