html, body, *{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

:root{
  --dark-blue: #063547;
  --dark-green: #033537;
  --beige: #e8e3cc;
  --white: #fcf9f8;

/*Text colors*/
  --off-white-text: #fcf9ee;
  --light-red-text: #c4223b;

/*Intentions*/
  --primary: var(--dark-blue);
  --secondary: var(--beige);

/*Typography*/
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}

h1{
  font-size: var(--h1);
}

h2{
  font-size: var(--h2);
}

h3{
  font-size: var(--h3);
}

h4{
  font-size: var(--h4);
}

h5{
  font-size: var(--h5);
}

h1,
h2,
h3,
h4,
h5{
  text-align: center;
}

.container{
  align-items: center;
  width: 100%;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card{
  height: 30rem;
  width: 22%;
  min-width: 300px;
  border-radius: 80px;
  border-width: 10px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-size: cover;
  margin-bottom: 50px;
}

.card-img{
  width: 100%;
  height: 80%;
}

.sea{
  --primary: var(--dark-blue);
  --secondary: var(--beige);
}

.forest{
  --primary: var(--dark-green);
  --secondary: var(--white);
}

.normal{
  background-color: var(--primary);
}

.main{
  background-color: var(--secondary);
  height: 90vh;
}
