html, body, *{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

:root{
  --dark-blue: #063547;
  --dark-green: #033537;

/*Text colors*/
  --off-white-text: #fcf9ee;
  --light-red-text: #c4223b;

/*Intentions*/
  --primary: var(--dark-blue);
  --secondary: var(--dark-green);

/*Typography*/
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}

h1{
  font-size: var(--h1);
}

h2{
  font-size: var(--h2);
}

h3{
  font-size: var(--h3);
}

h4{
  font-size: var(--h4);
}

h5{
  font-size: var(--h5);
}

h1,
h2,
h3,
h4,
h5{
  text-align: center;
}

.sea{
  background-color: var(--primary);
}

.forest{
  background-color: var(--secondary);
}

.main{
  background-color: var(--primary);
  height: 90vh;

}